<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>940457827508-ocs16sv3toufmtsf1umis2bom8jn51tc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.940457827508-ocs16sv3toufmtsf1umis2bom8jn51tc</string>
	<key>API_KEY</key>
	<string>AIzaSyDitj5HKkPdaXJuD1Xuv6LjRla79Cawvns</string>
	<key>GCM_SENDER_ID</key>
	<string>940457827508</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.ColoursApp</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-prac</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-prac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:940457827508:ios:f9f3a0e0724d7914ba4be1</string>
	<key>DATABASE_URL</key>
	<string>https://ecommerce-prac.firebaseio.com</string>
</dict>
</plist>